/* 
    Created on : 5/09/2018, 2:15:35 PM
    Author     : peani371
*/

* {
	margin: 10px;
	padding: 10px;	
}
html {
	background-color: #DADADA;
	color: #000000;
}
body {
	font-family: arial, sans-serif;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
h1 {
    background-color: grey;
    padding: 20px;
    text-align: center;
}
.img {

}
label {
    text-align: right;
}
.in {
    width: 95%;
}
a {
    padding: 0px;
    margin: 0px;
}
button {
    width: 150px;
}