<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>View products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesheet.css" type="text/css"/>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body class="menu"  ng-controller="ProductController as prodCtrl">
        <div ng-include="'menu.html'" ></div>
        <div>
            <h1>Products</h1>
            <button class="standardButton" type="button"  ng-click="prodCtrl.displayAll()">All</button>
            <button class="standardButton" type="button" ng-repeat="cat in prodCtrl.categories" ng-click="prodCtrl.selectCategory(cat)">{{cat}}</button>
            <table  ng-controller="CartController as cartCtrl">
                <tr>
                    <th>Name</th>
                    <th>Description</th> 
                    <th>Price</th>
                    <th>Available</th>
                    <th></th>
                </tr>
                <tr ng-repeat="product in prodCtrl.products">
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td> 
                    <td>${{product.price.toFixed(2)}}</td>
                    <td>{{product.quantityInStock}}</td>
                    <td><button class="prodButton" ng-click="cartCtrl.buy(product)">Buy</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>
