<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Create Customer Account - Doohickies Shop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesheet.css" type="text/css"/>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
        <div ng-include="'menu.html'" ></div>
        <div>
            <h1>Create an Account</h1>
            <form ng-controller="CustomerController as custCtrl" ng-submit="custCtrl.registerCustomer(customer)">
                <fieldset>
                    <legend>Account Details</legend>
                    <label>Username:</label>
                    <input class="in" type="text" ng-model="customer.username" required>
                    <br>
                    <label>First Name:</label>
                    <input class="in" type="text" ng-model="customer.firstName" required>
                    <br>
                    <label>Last Name:</label>
                    <input class="in" type="text"ng-model="customer.surname" required>
                    <br>
                    <label>Email:</label>
                    <input class="in" type="email" ng-model="customer.email" required>
                    <br>
                    <label>Address:</label>
                    <br>
                    <textarea class="in" ng-model="customer.address" required rows="5" cols="50"></textarea>
                    <br>
                    <label>Credit Card:</label>
                    <input class="in" type="text" ng-model="customer.creditCard" required>
                    <br>
                    <label>Password:</label>
                    <input class="in" type="password" ng-model="customer.password" required>
                    <br><br>
                    <button class="standardButton" type="submit">Create Account</button>
                </fieldset>
            </form>
        </div>
    </body>
</html>
